body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
img{
    width: 100%;
    display: block;
}
.flexiable-container{
    width: 90%;
    margin: auto;
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 20px 40px;
    color: white;
    border-radius: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
h1{
    font-size: 50px;
    color: rgb(87, 87, 87);
}
h2{
    font-size: 35px;
    color: rgb(87, 87, 87);
}
h3{
    font-size: 25px;
}
p{
    color: rgb(112, 112, 112);
    font-size: 15px;
    line-height: 24px;
}
.orange-color{
    color: #ffa500;
}
.gray-color{
    color: gray;
}
/*Head-Banner*/
.head-container{
    width: 100%;
}
.left-head-banner{
    width: 65%;
 }
.right-head-banner{
    width: 30%;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 85px;
}
.right-head-image{
    width: 80%;
 }
.right-bottom-para{
    line-height: 25px;
}
/*top-Banner*/
.top-banner{
    padding: 50px 0;
}
.half-width img{
    width: 100%;
}
.top-banner-pd{
    padding: 100px 0;
}
/*About-area*/
.about-area{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 40px;
    padding-top: 110px;
}
.half-width .about-person{
    width: 50%;
}
/*Recipe-area*/
.recipe-area{
    padding: 10px 0 10px;
}
.recipe-item{
    width: 25%;
    box-shadow: 5px 5px 30px gray;
    padding: 20px;
    border-radius: 20px;
}
.recipe-header{
    width: 45%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}
#recipe-item2{
    margin: 0 7%;
}
/*Social-area*/
.container-shadow{
    box-shadow: 2px 2px 40px gray;
    border-radius: 10px;
    padding: 40px 0 60px;
    margin-top: 80px;
    margin-bottom: 70px;
}
.social-item{
    width: 25%;
    margin: auto;
    padding-left: 110px;
}
.social-item .social-lh{
    color: rgb(24, 25, 31);
    line-height: 10px;
}
/*Contact-area*/
.contact-area{
    padding-bottom: 10px;
}
.contact-pd{
    padding: 0 40px;
}
.contact-form{
    width: 80%;
    margin: 10px 0;
}
.button{
    padding: 15px 40px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    color: white;
    background-color: green;
    font-weight: 700;
}
/*Footer-area*/
.footer-area{
    background-color: rgb(11, 13, 23);
    padding: 15px 0 70px;
}
.footer-container{
    width: 50%;
    margin: auto;
    text-align: center;
}
.footer-container p{
    color: rgb(192, 192, 195);
}